
.content2 {
  background-color: brown;
  height: 64px;
}

.content1 {
  background-color: red;
  height: 385px;
}

.content3 {
  background-color: white;
  height: 64px;
}

.content4 {
  background-color: brown;
  height: 225px;
}

.content5 {
  background-color: white;
  height: 32px;
}

.content6 {
  background-color: white;
  height: 64px;
}

.content7 {
  background-color: red;
  height: 225px;
}

.content8 {
  background color: white;
  height: 32px;
}

.content9 {
  background-color: white;
  height: 64px;
}

.content10 {
  background-color: red;
  height:225px;
}

.content11 {
  background-color: white;
  height: 32px;
}

.content12 {
  background-color: white;
  height: 64px;
}

.content13 {
  background-color: red;
  height: 225px;
}

.content14 {
  background-color: white;
  height: 32px;
}

.content15 {
  background-color: brown;
  height: 917px;
}

.content16 {
  background-color: pink;
  height: 412px;
  border-top: 140px solid red;
  border-left: 32px solid red;
  border-bottom: 70px solid red;
  border-right: 32px solid red;
}

.content17 {
  background-color: brown;
  height: 204px;
}

.page1 {
  background-color: navy;
  height: 64px;
}

.page2 {
  background-color: blue;
  height: 316px;
}

.page3 {
  background-color: white;
  height: 41px;
}

.page4 {
  background-color: navy;
  height: 42px;
}

.page5 {
  background-color: blue;
  height: 133px;
  border-top: 38px solid white;
  border-left: 131px solid white;
  border-bottom: 27px solid white;
  border-right: 135px solid white;
}

.page6 {
  background-color: blue;
  height: 133px;
  border-top: 38px solid white;
  border-left: 131px solid white;
  border-bottom: 27px solid white;
  border-right: 135px solid white;
}

.page7 {
  background-color: blue;
  height: 133px;
  border-top: 38px solid white;
  border-left: 131px solid white;
  border-bottom: 27px solid white;
  border-right: 135px solid white;
}

.page8 {
  background-color: blue;
  height: 133px;
  border-top: 38px solid white;
  border-left: 131px solid white;
  border-bottom: 27px solid white;
  border-right: 135px solid white;
}

.page9 {
  background-color: grey;
  height: 375px;
  border-left: 423px solid navy;
  border-top: 22px solid navy;
  border-right: 375px solid navy;
  border-bottom: 24px solid navy;
}

.page10 {
  background-color: white;
  height: 40px;
}

.page11 {
  background-color: navy;
  height: 40px;
}

.page12 {
  background-color: grey;
  height: 273px;
  border-top: 48px solid white;
  border-left: 275px solid white;
  border-bottom: 41px soild white;
  border right: 275px solid white;
}

.page13 {
  background-color: navy;
  height: 20px;
  border-left: 52px solid white;
  border-bottom: 35px solid white; 
}

.page14 {
  background-color: grey;
  height: 107px;
  border-left: 111px solid white;
  border-bottom: 26px solid white;
}
